NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/admin
ACCESS_TOKEN_PRIVATE_KEY=replace-with-base64-private-key
REFRESH_TOKEN_PRIVATE_KEY=replace-with-base64-refresh-key
APP_BASE_URL=http://localhost:5173
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your-smtp-username
SMTP_PASSWORD=your-smtp-password
LOG_LEVEL=debug
